doctype html
html
  head
    title Welcome!
    link(rel='stylesheet', href='')
  body
    block content
    p This project is hosted on github at 
      a(href="https://github.com/ansal/node-express-mongoose-boilerplate") https://github.com/ansal/node-express-mongoose-boilerplate.